@using Famliy.Finance.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<Famliy.Finance.Models.sys_role>
@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="well with-header">
            <div class="header bordered-sky">
                角色管理
            </div>
            @using (Html.BeginForm("Index", "sys_role", FormMethod.Get, new { @class = "form-inline" }))
            {
                <p>
                    角色:
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @Style = "display:inline" })
                    <button type="submit" class="btn btn-blue">查询</button>
                    @Html.ActionLink("新增", "Create", "sys_role", new { @class = "btn btn-palegreen" })
                </p>
            }
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GetEnumerator().Current.role_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GetEnumerator().Current.role_name)
                    </th>
   <th>
                        @Html.DisplayNameFor(model => model.GetEnumerator().Current.role_desc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GetEnumerator().Current.create_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GetEnumerator().Current.modify_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GetEnumerator().Current.status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.role_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.role_name)
                        </td>
    <td>
                            @Html.DisplayFor(modelItem => item.role_desc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.create_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modify_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.ActionLink("编辑", "Edit", new { id = item.role_id }) |
                            @Html.ActionLink("详细", "Details", new { id = item.role_id }) |
                            @Html.ActionLink("删除", "Delete", new { id = item.role_id })
                        </td>
                    </tr>
                }

            </table>
            <div class="row padding-10">
                <div class="col-sm-6">
                    <div class="dataTables_info">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_bootstrap pull-right">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="alert-danger">@Html.ValidationSummary() </div>
            </div>
        </div>
    </div>
</div>
